* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Boyuta çerçeveyi dahil eder */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #c571a9;
}

.wrapper {
    background-color: #fff;
    width: 80vmin;
    position: absolute; /* mutlak konumu belirler yani sayfa kaydırılsa bile konum değişmez. */
    transform: translate(-50%, -50%); /* sayfa ortası */
    top: 50%; /* dikey orta */
    left: 50%; /* yatay orta */
    padding: 40px 20px;
    border-radius: 8px;
}

label {
    display: block; /* öğeleri block yapar yani alt alta sıralar */
}

span {
    position: relative; /* göreceli konum */
    font-size: 22px;
    bottom: -1px;
}

.opt-wrapper {
    display: flex; /* öğeleri yatayda sırala */
    justify-content: space-between; /* öğeler arası eşit uzaklık */
    margin-bottom: 20px;
    gap: 10px; /* öğeler arası boşluk */
}

button {
    background-color: #81466d;
    border: none;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    cursor: pointer; /* fare ile üzerine gelindiğinde farenin şeklini değiştirir */
}

input[type="color"] {
    /* alttaki 3 appearance komutu varsayılan tarayıcı özelliklerini sıfırlar */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent; /* şeffaf arka plan */
    width: 70px;
    height: 60px;
    border: none;
    cursor: pointer; /* fare ile üzerine gelindiğinde farenin şeklini değiştirir */
}

/* tarayıcıya özel olarak yapılan ayarlar */
input[type="color"]::-webkit-color-swatch {
    border-radius: 8px;
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 8px;
    border: none;
}

.gridCol {
    height: 1em;
    width: 1em;
    border: 1px solid #ddd;
}

.gridRow {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Yatayda merkeze hizalama */
    align-items: center; /* Dikeyde merkeze hizalama */
  }

@media only screen and (max-width: 768px) {
    .gridCol{
        height: 0.8em;
        width: 0.8em;
    }
}