body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

#game{
    background-color: #ccc;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border: 2px solid #333;
}